<h1 translate="Biblioteca"></h1>
<br>
<p>Baixe aqui os documentos do Workshop</p>

<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/Panorama-Mercado-Norte-Americano-Retail-Workshop-UL-2019.pdf" class="btn btn-default btn-lg btn-ellipsis" aria-label="Left Align">
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Panorama do Mercado Norte-Americano e Insights
</a>

<h2>05/08 <small> (SEGUNDA-FEIRA)</small></h2>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/5th-chapel/CHAPEL-VIDEO%201.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> CHAPEL-VIDEO 1.mp4
</a>

<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/5th-chapel/CHAPEL-VIDEO%202.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> CHAPEL-VIDEO 2.mp4
</a>

<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/5th-chapel/Maha_Mamo_Chapel.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Maha_Mamo_Chapel.pdf
</a>

<h2>06/08 <small> (TERÇA-FEIRA)</small></h2>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/1-Julio-Campos-abertura.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 1-Julio-Campos-abertura.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/2-Pedro-Doria.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 2-Pedro-Doria.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/3-Luisa-von-Muhlen-Bettio-Futuro-do-Varejo.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 3-Luisa-von-Muhlen-Bettio-Futuro-do-Varejo.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/4-Ashley-Grice.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 4-Ashley-Grice.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/5-Jammet-the-sweetgreen-story.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon  glyphicon-facetime-video" aria-hidden="true"></span> 5-Jammet-the-sweetgreen-story.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/5-Nicolas-Jammet.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 5-Nicolas-Jammet.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/6-Hollie-Delaney.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 6-Hollie-Delaney.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/7-Jonathan-Berezovsky-01.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon  glyphicon-facetime-video" aria-hidden="true"></span> 7-Jonathan-Berezovsky-01.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/7-Jonathan-Berezovsky-02.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon  glyphicon-facetime-video" aria-hidden="true"></span> 7-Jonathan-Berezovsky-02.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/6th-ronald-reagan/7-Jonathan-Berezovsky.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 7-Jonathan-Berezovsky.pdf
</a>


<h2>07/08 <small> (QUARTA-FEIRA)</small></h2>

<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/1-Kenneth-Cukier.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 1-Kenneth-Cukier.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/2-Robbie-Kellman-Baxter.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 2-Robbie-Kellman-Baxter.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/3-Emerald-Nuts-Video-tamir.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 3-Emerald-Nuts-Video-tamir.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/3-Media1-tamir.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> 3-Media1-tamir.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/3-Tamir-bar-haim.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> 3-Tamir-bar-haim.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/Cappra-datathinking2019.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Cappra-datathinking2019.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/Cappra-Organizacoes-Analiticas-Washington-bloco1.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Cappra-Organizacoes-Analiticas-Washington-bloco1.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/7th-ronald-reagan/Introducing-Amazon-Go-tamir.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Introducing-Amazon-Go-tamir.mp4
</a>

<h2>08/08 <small> (QUINTA-FEIRA)</small></h2>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/8th-trump/Apresentacao-WDC-01.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Apresentacao-WDC-01.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/8th-trump/Apresentacao-WDC-02.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Apresentacao-WDC-02.mp4
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/8th-trump/Gustavo-Bacchin-Cadastra.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Gustavo-Bacchin-Cadastra.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/8th-trump/Julio-Campos%20Fechamento-dia-8.pdf" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-save-file" aria-hidden="true"></span> Julio-Campos Fechamento-dia-8.pdf
</a>
<a href="https://eventosvoqin.blob.core.windows.net/2019/08/uni067218/biblioteca/conteudo-ws/8th-trump/VIDEO-FINAL.mp4" target="_blank" class="btn btn-default btn-lg" >
    <span class="glyphicon 
    glyphicon glyphicon-facetime-video" aria-hidden="true"></span> VIDEO-FINAL.mp4
</a>