<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>Destino</h1>
    </div>
</div>

<div class="content-fullwidth">
    <img src="../images/destino/destino_03.40093dc1.jpg" alt="" class="img-responsive">
</div>

<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <br><br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p>O poderio militar. A valorização do trabalho ditada pela ética protestante. A expansão territorial e
                    econômica. A busca incessante da produtividade. O incentivo à iniciativa privada. O investimento
                    em tecnologia. Estes são os principais fatores
                    que, juntos, fizeram dos Estados Unidos a maior
                    potência mundial. Superlativo em vários aspectos, a começar pela extensão territorial, o país
                    apresenta números impressionantes. Maior
                    economia mundial, tem um PIB de cerca de
                    US$ 20 trilhões, quase o dobro da segunda
                    colocada no ranking, a China. </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Não é de estranhar, portanto, que os Estados Unidos detenham também o maior número de companhias de
                    capital aberto, com 575 empresas, e oito das dez empresas mais inovadoras do mundo. </p>
                <p>E não para por aí. Sabemos que investimentos em desenvolvimento geram mais desenvolvimento
                    e, nesse círculo virtuoso, riqueza gera riqueza. </p>
            </div>
        </div>
        <h2 class="txt-red txt-transform-initial">Outros índices* do país não nos deixam mentir:</h2>
        <img src="../images/destino/destino_08.032a6d1f.jpg" alt="" class="img-responsive">
        <br><br><br>
        <p>E agora, em nosso Workshop, teremos a oportunidade de sentir, com mais profundidade, em que medida essa
            potência afeta as relações comerciais e sociais em todo o mundo. <strong>Welcome!</strong></p>
        <p>*Fontes: Forbes | Exame | Veja | Viagem e Turismo | Folha | Portal no Varejo | Terra </p>
    </div>
</div>
<br><br><br>
<div class="content-fullwidth">
    <img src="../images/destino/destino_11.a28914f9.jpg" alt="" class="content-img-fullwidth img-responsive">
</div>
<br><br><br>
<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p>Famosa em cenas de cinema, palco de grandes decisões e berço de discursos
                    que mudaram a história da humanidade.
                    Estamos falando da icônica capital federal
                    norte-americana, que sedia nosso encontro. </p>

                <p>Não é exagero afirmar que Washington D.C.
                    é, na realidade, um grande presente. Afinal,
                    a cidade foi formada por terras cedidas pelos Estados de Maryland e Virgínia. E o nome? Bem, o nome
                    é uma justa homenagem
                    ao primeiro presidente americano,
                    George Washington. </p>

                <p>Toda a sua história foi costurada e erigida
                    a partir dos homens mais poderosos do mundo. Não há como falarmos de Washington sem nos envolvermos
                    com
                    a herança
                    memorável de políticos poderosos. Além disso, por representar o país mais desenvolvido do planeta
                    ou,
                    como costumamos dizer, uma grande potência, tudo o que acontece ali
                    adquire uma dimensão global.</p>

            </div>
            <div class="col-xs-12 col-sm-6">
                <p>O que se decide na Casa Branca reverbera
                    no mundo todo. Seja na política, na economia, nos direitos sociais, produtivos, ambientais,
                    culturais ou militares. </p>
                <p>E além de apresentar essa importante
                    vocação política, a capital é também um polo turístico, educacional e artístico. Suas
                    atrações incluem a Casa Branca, o Capitólio,
                    a Biblioteca do Congresso, o Monumento de Washington e o Memorial de Lincoln, entre outras, sem
                    falar que a cidade abriga campi
                    de diversas universidades renomadas. </p>

                <p>À beira do rio Potomac, é dona do maior
                    complexo de museus do mundo,
                    o Smithsonian Institute. Além disso, teatros badalados, clubes de jazz, restaurantes, cafés e
                    bistrôs charmosos tornam o distrito federal um lugar extremamente interessante. </p>

                <p>Enjoy!</p>

            </div>
        </div>
    </div>
</div>