<h1 translate="Galeria"></h1>
<br>
<p>Confira as fotos de nosso evento</p>

<h2>Dia 1</h2>

<div class="outer">
    <div id="g01" class="galeria-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos01">
                <img  class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
        </div>
    </div>
    <div id="t01" class="thumbs-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos01">
            
            <img  class="owl-lazy"  data-src="{{foto.thumb}}" class="img-responsive" alt="">
        </div>
    </div>
</div>

<hr>

<h2>Dia 2</h2>

<div class="outer">
    <div  id="g02" class="galeria-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos02">
                <img  class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
        </div>
    </div>
    <div id="t02" class="thumbs-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos02">
            
            <img  class="owl-lazy"  data-src="{{foto.thumb}}" class="img-responsive" alt="">
        </div>
    </div>
</div>

<hr>
<h2>Dia 3</h2>

<div class="outer">
    <div id="g03" class="galeria-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos03">
                <img  class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
        </div>
    </div>
    <div id="t03" class="thumbs-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos03">
            
            <img  class="owl-lazy"  data-src="{{foto.thumb}}" class="img-responsive" alt="">
        </div>
    </div>
</div>

<hr>
<h2>Dia 3 (jantar)</h2>

<div class="outer">
    <div id="g04" class="galeria-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos03jantar">
                <img  class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
        </div>
    </div>
    <div id="t04" class="thumbs-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos03jantar">
            
            <img  class="owl-lazy"  data-src="{{foto.thumb}}" class="img-responsive" alt="">
        </div>
    </div>
</div>

<hr>

<h2>Dia 4</h2>

<div class="outer">
    <div id="g05" class="galeria-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos04">
                <img  class="owl-lazy" data-src="{{foto.full}}" class="img-responsive" alt="">
        </div>
    </div>
    <div id="t05"  class="thumbs-owl owl-carousel owl-theme">
        <div class="item" ng-repeat="foto in fotos04">
            
            <img  class="owl-lazy"  data-src="{{foto.thumb}}" class="img-responsive" alt="">
        </div>
    </div>
</div>