<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h1>Hotel</h1>
    </div>
</div>

<div class="content-fullwidth">
    <img src="../images/hotel/hotel_03.96f527cf.png" alt="" class="img-responsive">
</div>

<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <br><br><br>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p>Este é muito mais que um hotel de luxo.
                    O histórico Old Post Office de Washington foi restaurado para muito além de sua grandeza inicial
                    e orgulhosamente se destaca como o icônico Trump International Hotel em Washington, D.C.,
                    conferindo ainda mais grandeza à Pennsylvania Avenue. Concluída em 1899, a construção foi sede da
                    principal
                    agência de correios da cidade até 1914 e, mais tarde, convertida em escritórios do governo. Sua
                    imponente
                    fachada assistiu a famosas
                    passeatas, desfiles e inúmeros eventos cívicos.</p>

                <p>Atualmente, o hotel presenteia hóspedes
                    e visitantes com uma das melhores vistas de
                    Washington, D.C. O famoso mirante da torre do Old Post Office Pavillion oferece uma cena fantástica
                    e impressionante da cidade e arredores. É possível visualizar monumentos famosos como o
                    Monumento a Washington, o National Mall,
                    o Capitólio e muito mais. Por todos os lados da lendária torre do relógio há beleza, história e
                    poder. Basta
                    dizer que seus 10 sinos são réplicas dos sinos da Abadia de Westminster, em Londres.</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>Além da atmosfera histórica e da vista inigualável, vale destacar os salões
                    monumentais do Trump International,
                    a começar pelo deslumbrante <strong>Grand Lobby</strong>, antiga sala de classificação do Old Post
                    Office que
                    incorporou uma vocação gastronômica para conquistar os mais exigentes paladares.
                    O suntuoso espaço abriga atualmente a
                    renomada churrascaria BLT Prime de David Burke e os exóticos drinks do Benjamin Bar
                    & Lounge, tornando o local um dos melhores pontos de encontro não apenas do hotel,
                    mas de toda a cidade.</p>
                <p>E já que estamos falando de bem-estar, não
                    podemos deixar de mencionar os tratamentos do Spa Ivanka Trump, entre outros serviços dignos dos
                    melhores cinco-estrelas do mundo. Para tornar a experiência do hóspede ainda mais exclusiva, cada
                    uma de suas 260 suítes
                    é diferente das demais, proporcionando uma estada verdadeiramente única.</p>
            </div>
        </div>
    </div>
</div>

<br><br><br>

<div class="content-fullwidth">
    <div class="row-gutter-small">
        <div class="col-xs-12 col-sm-6">
            <img src="../images/hotel/hotel_06.ec5cc7bc.jpg" alt="" class="img-responsive">
        </div>
        <div class="col-xs-12 col-sm-6">
            <img src="../images/hotel/hotel_08.d8fe86cd.jpg" alt="" class="img-responsive">
        </div>
    </div>
    <img src="../images/hotel/hotel_10.a216b4b6.png" alt="" class="content-img-fullwidth img-responsive">
</div>

<div class="row-gutter-small">
    <div class="col-xs-12 col-sm-6">
        <img src="../images/hotel/hotel_12.94896347.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-6">
        <img src="../images/hotel/hotel_14.ef252e05.jpg" alt="" class="img-responsive">
    </div>
</div>

<div class="row" style="position: relative;">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
        <br><br><br>
        <h2>A vizinhança? A melhor possível.</h2>
        <p>O hotel localiza-se a uma quadra do National Mall e está muito próximo a diversos museus, como o Smithsonian
            e outros pontos populares do centro de Washington, como o Teatro Ford e o Verizon Center.</p>
        <h2 class="txt-red txt-transform-initial">Confira algumas distâncias:</h2>
        <img src="../images/hotel/hotel_19.aca773d3.jpg" alt="" class="img-responsive">
    </div>
</div>